@model UserMVC.Model.UserViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            @using (Html.BeginForm("Register", "Users", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    <table width="500">
                        <tr>
                            <td>@Html.LabelFor(model => model.UserAdd.FullName)</td>
                        </tr>
                        <tr>
                            <td>@Html.TextBoxFor(model => model.UserAdd.FullName, new { placeholder = "Enter Full Name", @class = "form-control" })</td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.UserAdd.PhoneNo)</td>
                        </tr>
                        <tr>
                            <td>@Html.TextBoxFor(model => model.UserAdd.PhoneNo, new { placeholder = "Enter Phone No", @class = "form-control" })</td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.UserAdd.Email)</td>
                        </tr>
                        <tr>
                            <td>@Html.TextBoxFor(model => model.UserAdd.Email, new { placeholder = "Enter Email", @class = "form-control", type = "email" })</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.UserAdd.Dob)</td>
                        </tr>
                        <tr>
                            <td>@Html.TextBoxFor(model => model.UserAdd.Dob, new { placeholder = "dd-mm-yyyy", @class = "form-control pull-right", id = "datepicker" })</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.UserAdd.RoleID)</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DropDownListFor(model => model.UserAdd.RoleID, new SelectList(Model.RoleList, "RoleID", "RoleName"), "Select Role...",
                                new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.UserAdd.GenderID)</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DropDownListFor(model => model.UserAdd.GenderID, new SelectList(Model.ListGender, "Value", "Text"), "Select Gender...",
                                new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td><input type="submit" class="btn btn-primary" value="Submit" /></td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
