@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box">
    <div class="box-body">
        <table>
            <tr>
                <td width="100px">
                    <a href="~/Users/Create" class="btn btn-block btn-danger">Add User</a>
                </td>
            </tr>
            <tr><td height="10px">&nbsp;</td></tr>
        </table>
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Phone No.</th>
                    <th>Email</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
            <tr>

                <td>@Html.Encode(item.FullName)</td>
                <td>@Html.Encode(item.PhoneNo)</td>
                <td>@Html.Encode(item.Email)</td>
                <td>@Html.Encode(item.Dob)</td>
                <td>@Html.Encode(item.GenderID)</td>
                <td>@Html.Encode(item.RoleID)</td>
                
                <td class="btn-group" width="89%">
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><p>@Html.ActionLink("Edit", "Edit", new { id = item.UserID })</p></li>
                        <li><a data-toggle="modal" data-target="#modal-userView"> View</a></li>
                    </ul>
                </td>
            </tr>
            }
        </table>
    </div>
</div>
